* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
};
.btn{
    margin: 50px;
    display: block;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;   
    text-align: center;
}